@import './base.css';


a,
.green {
  text-decoration: none;
  color: rgb(255, 0, 221);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(313, 100%, 50%, 0.2);
  }
}

 